body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar{
  background: url('https://images.pexels.com/photos/7130488/pexels-photo-7130488.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: 100% 100%;
  height: 100vh;
  padding-top: 10px;
  flex-shrink: 0;
  margin-top: 32px;
}
.rows{
  width: 100vw;
  margin-right: 0 !important;
  height: 100% !important;
}
li{
  bottom: 0;
  left: 0;
  padding: 10px;
  position: relative;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  margin:5px;
  background-color: aliceblue;
  list-style: none;
}
.chatPage {
  background: url('https://img.freepik.com/free-vector/blue-social-media-background_1017-7008.jpg');
  background-size: 100% 100%;
  margin:0;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
}
.message{
  position: relative;
  padding: 8px;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  color: aliceblue;
  width:100%;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-left: 10px;
}
.both-columns{
  margin-left: 0px; 
  column-width: auto;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main-content{
  position: fixed;
  bottom: 3px;
  margin-right: 20px;
  width:65%;
  margin-bottom: 3px;
}
.me-auto{
  align-items: center;
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  text-align: left;  
}

.logo{
  font-family: 'Caveat', cursive;
  align-items: center;
  display: flex;
}